# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / Packaging
dist/
build/
*.spec

# Virtual Environment
venv/
env/
.env

# Project Specific
*.pdf
!example.pdf
!README.pdf
*_extracted/
merged_invoices.pdf

# IDE
.vscode/
.idea/
